@page "/expertises"

<div class="uk-container">

    <div  class="uk-child-width-1-2@m uk-grid-match gap-5" uk-grid>

        <div class="uk-card uk-card-default uk-card-hover">
            <div class="uk-card-media-top">
                <img src="img/affaires.jpeg" width="400" alt="">
            </div>
            <div class="uk-card-body">
                <div class="uk-card-title">
                    Droit des affaires
                </div>
                <p class="uk-text-justify">
                    Expertise reconnue en matière de <span class="uk-marker">restructuration d'entreprises</span>
                    que ce soit dans la cadre de procédures préventives, de conciliations, que des procédures de <span class="uk-marker">sauvegarde</span>,
                    <span class="uk-marker">redressement</span> judiciaires, <span class="uk-marker">liquidations</span> judiciaires
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                <div class="uk-card-media-top">
                    <img src="img/entreprise.jpeg" width="400" alt="">
                </div>
                <h3 class="uk-card-title">Compétence reconnue dans la rédaction des actes de cession de fonds de commerce</h3>
                <p class="uk-text-justify">Expérience particulière dans les activités de cession de cafés, Hôtels, restaurants, boulangerie, salon de coiffure. Cession de centaines d'activités dans ces domaines.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                <h3 class="uk-card-title">Accompagnement des clients dans le cadre de leur croissance ou de leurs difficultés</h3>
                <p class="uk-text-justify">Participe à la stratégie à adopter dans le cadre d'acquisitions, de fusions-acquisitions, de croissance externe de ses clients depuis maintenant 30 ans</p>
            </div>
        </div>
    </div>
</div>

@code {

}