@page "/cabinet"


<PageTitle>Mounier Avocats - Le Cabinet</PageTitle>

<div class="uk-container uk-position-relative">
    <div class="uk-column-1-2@s">

        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-grid-small uk-flex-middle uk-flex-center" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="80" height="80" src="img/portrait.jpeg"/>
                </div>

                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Yves Mounier</h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                        <a href="https://barreau-bordeaux.avocat.fr/annuaire/maitre-yves-mounier-2035.htm">
                            Avocat inscrit au barreau de Bordeaux
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-divider"></div>
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur ducimus ea eius, provident quo unde veniam. Accusamus ad adipisci at ea, error ex, iusto maxime quidem quo similique tenetur!</p>
            </div>
        </div>
    </div>
</div>


@code {

}