@inherits LayoutComponentBase

<PageTitle>MounierAvocats</PageTitle>

<header >
    <NavMenu/>

</header>
<main>

    @Body
</main>
<footer uk-sticky>
    <!-- FOOT -->
    <div class="uk-position-bottom-center uk-position-small">
        <span class="uk-text-small uk-text-center">
            © 2019 | <a href="https://github.com/zzseba78/Kick-Off" title="Created by KickOff">Created by KickOff</a> | Built with
            <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip>
                <span data-uk-icon="uikit"></span>
            </a>
        </span>
    </div>
    <!-- /FOOT -->
</footer>
