
<h1 class="uk-heading-divider uk-text-center uk-text-primary" uk-scrollspy="cls: uk-animation-slide-left;delay:500,duration:1000, repeat: true">
    @Label
</h1>

@code {

    [Parameter]
    public string Label { get; set; } = String.Empty;

}